* {margin: 0; padding: 0;}
body {
	width: 900px;
	margin: auto;
}

header {
	width: 900px;
	height: 250px;
}
header img {
	width: 900px;
	height: 250px;
}

menu {
	width: 880px;
	height: 30px;
	background-color: #556B2F;
	padding: 10px;
	margin-top: 5px;
}

menu li {
	list-style: none;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	color: #fff;
}
menu li a {
	text-decoration: none;
	color: #fff;
}
menu li a:hover {
	color: orange;
}
.formulir {
   width: ;
   height: ;
   background-color: ;
   margin-top: ;
   position: ;
}
.formulir p {
	list-style: none;
	float: right;
	margin-left: 20px;
	margin-top: 5px;
	color: #fff;
}
.formulir p a {
   text-decoration: none;
   color: #fff;
}
.formulir p a:hover {
   color: orange;
}
/* class recomended */
.recomended {
	width: 100%;
	overflow: hidden;
	background-color:	#B0C4DE;
	margin-top: 5px;
}
.recomended h1 {
	text-align: 5px;
}
.recomended .recomendedKiri {
	width: 435px;
	float: left;
	margin: 10px 5px 5px 10px;
}
.recomended .yt {
	width: 435px;
	float: left;
	margin: 10px 5px 5px 10px;
}
.recomended iframe {
	width: 410px;
	height: 250px;
	float: left;
	margin: 0 5px 5px 0;
	box-shadow: 2px 2px 2px #333;
}
.recomended img {
	width: 150px;
	height: 100px;
	float: left;
	margin: 0 5px 5px 0;
	box-shadow: 2px 2px 2px #333;
}
.recomended p {
	text-align: justify;
}
.recomended .recomendedKanan {
	width: 435px;
	margin: 10px 10px 5px 5px;
	float: left;
}
.recomended a {
	text-decoration: none;
	color: #140fcd;
}
.recomended a:hover {
	color: #000;
}
.recomended h3 {
	color: #140fcd;
}
/* akhir class recomended */
/* class mm */
.mm {
	width: 100%;
	overflow: hidden;
	background-color:	#B0C4DE;
	margin-top: 5px;
}
.mm h1 {
	text-align: 5px;
}
.mm .mmKiri {
	width: 290px;
	float: left;
	margin: 5px 2px 2px 5px;
}
.mm img {
	width: 90px;
	height: 50px;
	float: left;
	margin: 0 5px 5px 0;
	box-shadow: 2px 2px 2px #333;
}
.mm .mmTengah {
	width: 290px;
	float: left;
	margin: 5px 2px 2px 5px;
}
.mm p {
	text-align: justify;
}
.mm .mmKanan {
	width: 290px;
	margin: 5px 2px 2px 5px;
	float: left;
}
.mm a {
	text-decoration: none;
	color: #140fcd;
}
.mm a:hover {
	color: #000;
}
.mm h3 {
	color: #140fcd;
}
/* akhir class mm */
/* class buaya */
.update {
	width: 100%;
	overflow: hidden;
	background-color:	#B0C4DE;
	margin-top: 5px;
}

/* class widget */
.update .widget {
	width: 245px;
	float: left;
	background-color: #f90;
}
.update .widget .updateartikel {
	margin: 0 5px;
}
.update .widget .updateartikel img {
	width: 100px;
	height: 70px;
	float: left;
	margin-right: 2.5px; 
}
.update .widget .updateartikel h3 {
	text-align: center;
	margin: 10px 0 10px;
}
.update .widget .updateartikel a {
	text-decoration: none;
	color: #000;
}
.update .widget .updateartikel a:hover {
   color: yellow;
}
.update .widget .updateartikel p a {
   text-decoration: none;
   color: #000;
}
.update .widget .updateartikel p a:hover {
   color: white;
}
/* akhir class widget */
/* class singlepost */
.update .singlepost {
	width: 650px;
	background-color: #8FBC8F;
	float: left;
	margin-left: 5px;
}
.update .singlepost img {
	width: 550px;
	margin: 5px 50px 0;
}
.update .singlepost video {
	width: 550px;
	margin: 5px 50px 0;
}
.update .singlepost iframe {
	width: 550px;
	height: 300px;
	margin: 5px 50px 0;
}
.update .singlepost h2 {
	margin-left: 5px;
}
.update .singlepost p {
	margin: 0 20px;
	text-align: justify;
}
.update .singlepost a {
	text-decoration: none;
	color: #000;
}
/* akhir class singlepost */
/* class mediaSosial */
.update .widget .mediaSosial {
   margin: 5px;
   border-top: 5px solid #333;
}
.update .widget .mediaSosial h3 {
   text-align: center;
   margin: 5px 0 10px;
}
.update .widget .mediaSosial img {
   width: 30px;
   height: 30px;
   margin-right: 25px;
}
.update .widget .mediaSosial img:hover {
   opacity: 0.5;
}
/* akhir class mediaSosial */
/* class subscribe */
.update .widget .subscribe {
   margin: 0 5px;
   border-top: 5px solid #333;
}
.update .widget .subscribe h3 {
   text-align: center;
   margin: 10px 0 10px;
}
.update .widget .subscribe input[type="text"] {
   width: 95%;
}
.update.widget .subscribe input[type="email"] {
   width: 95%;
}
.update .widget .subscribe input[type="pesan"] {
   width: 95%;
   margin-bottom: 20px;
}
.update .widget .subscribe input[type="submit"] {
   width: 50%;
   padding: 5px;
   cursor: pointer;
   margin-bottom: 5px;
   margin-left: 50px;
}
.update .widget .subscribe iframe{
   width: 95%;
   margin-bottom: 20px;
}
.update .widget .subscribe audio{
   width: 95%;
   margin-bottom: 20px;
}
/* akhir class subscribe */
.footer {
   width: 100%;
   height: 50px;
   background-color:	#556B2F;
   margin-top: 10px;
   position: relative;
}
.footer p {
   color: #fff;
   position: absolute;
   bottom: 10px;
   left: 350px;
}
.footer p a {
   text-decoration: none;
   color: #fff;
}
.footer p a:hover {
   color: #f90;
}